alias c='cargo'
alias cr='cargo run'
alias crr='cargo run --release'
alias cc='cargo check'
alias ccl='cargo clippy'
alias cf='cargo clippy --fix'

alias p='paru'
alias pl='paru -Qi'
alias ps='paru -Si'
alias pi='paru -S'
alias pr='paru -Rs'

alias g='git'
alias ga='git add'
alias gp='git push'
alias gst='git stash'
alias gstp='git stash pop'
alias gs='git status'
alias gaa='git add --all'
alias gc='git commit'
alias gca='git add --all && git commit'
alias gd='git diff | lvim -R'
alias gl='git log'
alias grs='git restore --staged'

alias fzf='find . -type f -not -path "*/\.git/*" | fzf'
alias fzfe='lvim $(fzf)'
alias fzfse='se $(fzf)'

alias sctl='systemctl'
alias bctl='bluetoothctl'
alias l='lvim'
alias e='echo'
alias o='open'


alias adios='systemctl poweroff'
alias se='sudoedit'
alias ls='exa -a -l --group-directories-first --git --no-user --no-time'
