[Unit]
Description=Run plasma theme update every 2 minutes and on wake

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Persistent=true

[Install]
WantedBy=timers.target
