[Unit]
Description=Run plasma theme update every 1 minutes and on wake

[Timer]
OnBootSec=0min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
